[defaults]
inventory=hosts
roles_path=./roles/:./roles/galaxy/
interpreter_python=/usr/bin/python3

[ssh_connection]
#Reuse ssh connection instead of making new one for each task
usetty = false
ssh_args = -o ControlMaster=auto -o ControlPersist=1h -o StrictHostKeyChecking=accept-new -o pubkeyauthentication=false
control_path = /tmp/sshctl-%%r@%%h
#ssh_args = -o PubkeyAuthentication=no
transfer_method=smart
